<% stocks = Stock.all.map{ | s | LinkedStock.new( s ) }.sort %>
<ul>
  <% stocks.each do | s | %>
  <li><%= "#{s.artist.name} #{s.album.name} #{s.stock.format} #{s.stock.stock_level} #{s.stock.threshold} #{s.stock.buy_price} #{s.stock.sell_price}" %></li>
  <% end %>
</ul>
