<h1>New Stock</h1>
<form action="/stocks" method="post">
  <table>
    <tr>
      <td class="tab-head"><label>Artist:</label></td>
      <td><%= @artist.name %></td>
    </tr>
    <tr>
      <td class="tab-head"><label for="album_id">Album:</label></td>
      <td>
        <select class="borderbox" name="album_id">
          <% @albums.each do | album | %>
          <option value="<%= album.id %>"
          <% if @album.id == album.id %> selected<% end %>
          ><%= "#{album.name}" %></option>
          <% end %>    
        </select>
      </td>
    </tr>
    <tr>
      <td class="tab-head"><label for="format">Format:</label></td>
      <td>
        <select class="borderbox" name="format">
          <option value="CD"
          <% if !@unstocked.include?("CD") %>disabled
          <% end %>>CD</option>
          <option value="LP"
          <% if !@unstocked.include?("LP") %>disabled
          <% end %>>LP</option>
          <option value="MC"
          <% if !@unstocked.include?("MC") %>disabled
          <% end %>>MC</option>   
        </select>
      </td>
    </tr>
    <tr>
      <td class="tab-head"><label for="stock_level">Stock Level:</label></td>
      <td><input type="text" class="borderbox" min="0" size="10" name="stock_level" value="0"></td>
    </tr>
    <tr>
      <td class="tab-head"><label for="threshold">Stock Theshold:</td>
      <td><input type="text" class="borderbox" min="0" size="10" name="threshold" value="1"></td>
    </tr>
    <tr>
      <td class="tab-head"><label for="buy_price">Buy For (£):</td>
      <td><input type="text" class="borderbox" min="0" size="10" name="buy_price" value="0.00"></td>
    </tr>
    <tr>
      <td class="tab-head"><label for="sell_price">Sell For (£):</td>
      <td><input type="text" class="borderbox" min="0" size="10" name="sell_price" value="0.00"></td>
    </tr>
    <tr>
      <td align="right" colspan="2"><input type="submit" class="button" value="Create" ></td>
    </tr>
  </table>
</form>