<!DOCTYPE html>
<html>
<head>
  <title>Harvey's Record Store</title>
  <link rel="stylesheet" type="text/css" href="/base.css">
  <link rel="stylesheet" type="text/css" href="/fixed-navigation-bar.css">
</head>
<body>
<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
 <!--    <a class="sitename" href="fixed-navigation-bar.html">Fixed Nav Bar</a>
    <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
 -->
    <div class="sitename"><i><b>Harvey's Records</b></i></div>
     <ul class="menu-items">
      <li><a href="/">Home</a></li>
      <li><a href="/stocks?index=flat">Current Stock</a></li>
      <li><a href="/albums">New Stock</a></li>
      <li><a href="/stocks?index=nested">Stock Report</a></li>
    </ul>
  </div>
</nav>
<section class="content">
<%= yield %>
</section>
</body>
</html>