<h1>Albums</h1>
<table>
  <tr>
    <td colspan="2" align="left"><a class="button" href="/albums/new?origin=albums">New Album</a></td>
    <td colspan="2" align="right"><a class="button" href="/artists">View Artists</a></td>
  </tr>
  <% @albums.each do | album | %>
  <tr>
    <td class="tab-head"><%= album.name %></td>
    <td class="tab-head"><%= Artist.by_id(album.artist_id).name %></td>
    <td><a href="/albums/<%= album.id.to_s %>/edit">Edit</a></td>
    <td>
    <% if Stock.unstocked_formats(album.id).count > 0 %>
    <a href="/stocks/new?album=<%= album.id.to_s %>">New Stock</a>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>