<form action="<%= @action %>" method="post">
  <table>
    <tr>
      <td><label for="name">Name:</label></td>
      <td><input type="text" name="name" <%= "value=\"#{@artist.name}\"" if @artist.name %>></td>
    </tr>
    <tr>
      <td><label for="genre">Genre:</label></td>
      <td>
        <input list="genre_list" name="genre">
        <datalist id="genre_list">
          <% @genre.each do | genre | %>
          <option value="<%= genre %>">
          <% end %>
        </datalist>
      </td>
    </tr>
    <tr>
      <td align="right" colspan="2"><input type="submit" value="<%= @button_text %>" ></td>
    </tr>
  </table>
</form>