<h1>Artists</h1>
<table>
  <tr>
    <td><a class="button" href="/artists/new">New Artist</a></td>
    <td>&nbsp;</td>
    <td><a class="button" href="/albums">View Albums</a></td>
  </tr>
  <% @artists.each do | artist | %>
  <tr>
    <td class="tab-head"><%= artist.name %></td>
    <td class="tab-head"><%= artist.genre %></td>
    <td><a href="/artists/<%= artist.id.to_s %>/edit">Edit</a></td>
  </tr>
  <% end %>
</table>